@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

body {
  display: block;
  width: 1450px;
  margin: auto;
}

h1 {
  margin: 0;
  padding: 1em;
  padding-left: 30px;
  color: #006BB8;
  background-image: url(/image/nba.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
}

#team-list {
  height: 530px;
  width: 250px;
  min-width: 250px;
  overflow: auto;
}

#team-list option {
  font-weight: bold;
  padding: 1em;
  padding-left: calc(1em + 30px);
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 30px;
}

#team-list option:hover {
  background-color: #e6f7ff;
}

#player-list {
  height: 530px;
  width: 300px;
  min-width: 300px;
  overflow: auto;
}

#player-list option {
  font-weight: bold;
  padding: 2em;
  padding-left: calc(2em + 50px);
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 50px;
}

#player-list option:hover {
  background-color: #e6f7ff;
}

#graph {
  border: solid 1px #ccc;
}

footer {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

#footer-links {
  float: right;
  font-size: 2em;
}

#footer-links a {
  color: black;
}

#footer-links a:hover {
  color: #006BB8;
}

#footer-links a:active {
  color: purple;
}
